html {
  background: #146ec3;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?8m3ln9");
	src: url("../fonts/icomoon.eot?8m3ln9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8m3ln9") format("truetype"), url("../fonts/icomoon.woff?8m3ln9") format("woff"), url("../fonts/icomoon.svg?8m3ln9#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-arrow:before {
	content: "\e900";
	color: #3ddc97;
}

.ico-badge:before {
	content: "\e901";
	color: #3ddc97;
}

.ico-email:before {
	content: "\e902";
	color: #3ddc97;
}

.ico-learners:before {
	content: "\e903";
	color: #3ddc97;
}

.ico-mentors:before {
	content: "\e904";
	color: #3ddc97;
}

.ico-teachers:before {
	content: "\e905";
	color: #3ddc97;
}

.ico-user:before {
	content: "\e906";
	color: #3ddc97;
}

.locations-section .city-list,
#footer .item-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

#header {
	background: #0d82f2;
	color: #fff;
	padding: 28px 0 0;
	text-align: center;
}

#header .container {
	max-width: 1440px;
}

#header .img-holder {
	position: relative;
	margin: 0 0 -1px;
}

#header .img-holder .inner {
	width: 100%;
	max-width: 1296px;
}

#header .img-holder img {
	position: relative;
	max-width: 157%;
	height: auto;
	display: block;
	width: 157%;
}

#header .post-holder {
	position: relative;
	padding: 0 10px 20px;
	z-index: 2;
}

#header .post-holder .btn {
	max-width: 306px;
}

.logo {
	display: block;
	width: 280px;
	margin: 0 auto 40px;
}

.logo img {
	display: block;
	width: 100%;
}

#wrapper {
	overflow: hidden;
}

h1 {
	line-height: 1.2;
	font-weight: 400;
	margin: 0 0 37px;
}

h2 {
	margin: 0 0 13px;
	letter-spacing: -1px;
}

h3 {
	margin: 0 0 18px;
}

ul:not([class]) {
	list-style: none;
	padding: 0 0 0 35px;
	margin: 0 0 25px;
}

ul:not([class]) li {
	position: relative;
}

ul:not([class]) li:before {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	content: "";
	background: #212529;
	position: absolute;
	left: -23px;
	top: 11px;
}

.form-control {
	font-size: 24px;
}

.container {
	position: relative;
	z-index: 3;
}

.btn {
	font-size: 22px;
	max-width: 318px;
	width: 100%;
}

.btn.btn-success {
	color: #fff;
}

.how_it_works-section {
	position: relative;
	z-index: 2;
	padding: 24px 0;
	text-align: center;
	font-size: 24px;
}

.how_it_works-section:before {
	background: url("../images/decorationRight.svg") no-repeat left -334px bottom 160px, url("../images/decorationLeft.svg") no-repeat left -196px bottom;
}

.how_it_works-section:after {
	background: url("../images/decorationLeft.svg") no-repeat right -174px top 197px;
}

.how_it_works-section:before,
.how_it_works-section:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	display: none;
}

.how_it_works-section .container {
	max-width: 1032px;
}

.how_it_works-section .heading-row {
	margin: 0 0 30px;
}

.how_it_works-section .item-row {
	font-size: 18px;
}

.how_it_works-section .item-row .col-12 {
	margin: 0 0 30px;
}

.how_it_works-section .img-holder {
	white-space: nowrap;
	text-align: center;
	max-width: 200px;
	margin: 0 auto 16px;
}

.how_it_works-section .img-holder:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 0;
	min-height: 220px;
}

.how_it_works-section .img-holder > * {
	white-space: normal;
	display: inline-block;
	vertical-align: bottom;
	max-width: 99%;
}

.how_it_works-section .img-holder img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.how_it_works-section .post-holder {
	max-width: 260px;
	margin: 0 auto;
}

.who_is_it_for-section {
	background: #3ddc97;
	text-align: center;
	position: relative;
	padding: 52px 0 14px;
	overflow: hidden;
	margin: -2px 0;
}

.who_is_it_for-section:before,
.who_is_it_for-section:after {
	content: "";
	position: absolute;
	background: #f6f6f6;
	left: -10%;
	right: -10%;
	height: 270px;
	display: none;
	z-index: 1;
}

.who_is_it_for-section:before {
	top: -5px;
	border-radius: 0 0 50% 50%;
}

.who_is_it_for-section:after {
	bottom: -205px;
	border-radius: 50% 50% 0 0;
}

.who_is_it_for-section .container {
	max-width: 1202px;
}

.who_is_it_for-section h2 {
	margin: 0 0 40px;
}

.who_is_it_for-section h3 {
	margin: 0 0 20px;
}

.who_is_it_for-section .item-row {
	text-align: left;
	padding: 0 10px;
}

.who_is_it_for-section .item-row .col-12 {
	background: #fff;
	padding: 33px 20px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
	margin: 0 0 25px;
}

.who_is_it_for-section .item-row .ico {
	font-size: 56px;
	margin: 0 0 17px;
}

.locations-section {
	position: relative;
	z-index: 2;
	padding: 30px 0 130px;
	font-size: 24px;
}

.locations-section:before,
.locations-section:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

.locations-section:before {
	background: url("../images/decorationRight.svg") no-repeat left -156px bottom -79px;
}

.locations-section:after {
	background: url("../images/decorationRight.svg") no-repeat right -275px top 5px;
	display: none;
}

.locations-section h2 {
	margin: 0 0 18px;
}

.locations-section .post-holder {
	padding: 0 10px;
	margin: 0 0 34px;
}

.locations-section .map-block {
	position: relative;
	padding: 0 0 0 22px;
}

.locations-section .map-block img {
	max-width: 100%;
	width: 240px;
	height: auto;
}

.locations-section .city-list {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-weight: bold;
}

.locations-section .city-list li {
	position: absolute;
	padding: 0 0 15px;
}

.locations-section .city-list li:before {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	content: "";
	position: absolute;
	background: #0d82f2;
	border: 2px solid #2ec0b2;
	bottom: 0;
	top: auto;
	left: 0;
}

.locations-section .city-list .line:before,
.locations-section .city-list .line:after {
	content: "";
	position: absolute;
	background: #e2e2e2;
	height: 2px;
	opacity: .8;
}

.locations-section .city-list .line:before {
	left: 8px;
	width: 20px;
	top: 22px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.locations-section .city-list .line:after {
	top: 16px;
	left: 25px;
	width: 23px;
}

.locations-section .city-list .city-01 {
	top: 55.2%;
	left: 134px;
	padding-left: 55px;
}

.locations-section .city-list .city-02 {
	top: 69.51%;
	left: 134px;
	padding-left: 52px;
}

.locations-section .city-list .city-02 .line:after {
	width: 20px;
}

.locations-section .city-list .city-03 {
	top: 79.4%;
	left: 182px;
	padding-left: 55px;
}

.locations-section .city-list .city-03 .line:after {
	width: 22px;
}

.form-section {
	background: #0d82f2;
	color: #fff;
	padding: 39px 0 43px;
	font-size: 24px;
}

.form-section a {
	color: #fff;
}

.form-section h2 {
	font-size: 48px;
	line-height: 1.3;
	margin: 0 0 19px;
}

.form-section .container {
	max-width: 1060px;
	padding: 0 18px;
}

.form-section .sign_up-form {
	padding: 30px 0 0;
}

.form-section .form-group {
	position: relative;
	width: 100%;
	margin: 0 auto 16px;
}

.form-section .form-group label {
	position: absolute;
}

.form-section form .btn-success {
	margin: 12px 0 0;
	width: 100%;
	max-width: 100%;
}

.form-section .name-input {
	background-image: url("../images/icoUser.svg");
	background-repeat: no-repeat;
	background-position: 11px center;
	padding-left: 46px;
}

.form-section .email-input {
	background-image: url("../images/icoEmail.svg");
	background-repeat: no-repeat;
	background-position: 11px center;
	padding-left: 46px;
}

.form-section .custom-select {
	background: url("../images/icoBadge.svg") 11px center/24px auto, url("../images/icoArrow.svg") right 16px center/16px auto;
	background-repeat: no-repeat;
	background-color: #fff;
	padding-left: 43px;
}

.form-section .custom-select option {
	font-size: 30px;
}

.form-section .custom-checkbox {
    width: auto;
    display: inline;
    transform: scale(1.2);
}

.form-section .custom-checkbox-label {
    position: relative !important;
    display: inline;
}

#footer {
	background: #146ec3;
	color: #fff;
	padding: 30px 0 4px;
	font-size: 16px;
	text-align: center;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	text-decoration: none;
	color: #ccc;
}

#footer .container {
	max-width: 1238px;
	padding: 0 18px;
}

#footer .logo {
	width: 274px;
	margin: 0 auto 30px;
}

#footer .item-list li {
	margin: 0 0 24px;
}

body {
	min-width: 320px;
}

@media (min-width: 360px) {
	#header .post-holder {
		padding: 0 15px 20px;
	}

	.logo {
		width: 322px;
	}

	.how_it_works-section {
		margin: 0 0 -24px;
		padding: 24px 0 0;
	}

	.how_it_works-section .container {
		padding: 0 27px;
	}

	.how_it_works-section .heading-row {
		margin: 0 0 45px;
	}

	.how_it_works-section .item-row .col-12 {
		margin: 0 0 66px;
	}

	.who_is_it_for-section .item-row {
		padding: 0 20px;
	}

	.who_is_it_for-section .item-row .col-12 {
		padding: 63px 35px 24px;
	}

	.locations-section {
		padding: 47px 0 139px;
	}

	.locations-section .post-holder {
		padding: 0 20px;
	}

	.form-section .container {
		padding: 0 30px;
	}

	#footer {
		padding: 58px 0 34px;
	}

	#footer .logo {
		margin-bottom: 48px;
	}
}

@media (min-width: 576px) {
	#header .img-holder img {
		max-width: 100%;
		width: 100%;
	}

	#header .post-holder {
		min-width: 338px;
		max-width: 560px;
		margin: 0 auto;
	}

	h2 {
		font-size: 55px;
		letter-spacing: 0;
	}

	.how_it_works-section .container {
		padding: 0 8px;
	}

	.how_it_works-section .post-holder {
		max-width: 320px;
	}

	.locations-section .post-holder {
		padding: 0 0 0 20px;
	}

	.locations-section .map-block {
		padding: 0;
	}
}

@media (min-width: 768px) {
	#header {
		padding: 50px 0;
		text-align: left;
	}

	#header .img-holder {
		margin: 0 0 -60px;
	}

	#header .img-holder img {
		right: -130px;
	}

	#header .post-holder {
		padding: 0 0 30px 10px;
		max-width: 100%;
		margin: 0;
	}

	h1 {
		font-size: 25px;
		margin: 0 0 32px;
	}

	h2 {
		margin: 0 0 29px;
	}

	h3 {
		margin: 0 0 13px;
	}

	.how_it_works-section {
		padding: 50px 0 100px;
		margin: 0;
	}

	.how_it_works-section:before,
	.how_it_works-section:after {
		display: block;
	}

	.how_it_works-section .heading-row {
		margin: 0 0 50px;
	}

	.how_it_works-section .item-row .col-12 {
		padding: 0 32px;
		margin: 0;
	}

	.how_it_works-section .img-holder {
		margin-bottom: 22px;
	}

	.how_it_works-section .post-holder {
		max-width: 100%;
	}

	.who_is_it_for-section {
		padding: 0 0 99px;
	}

	.who_is_it_for-section:before,
	.who_is_it_for-section:after {
		display: block;
	}

	.who_is_it_for-section .container {
		padding: 0 20px;
	}

	.who_is_it_for-section h2 {
		margin: 0 0 48px;
	}

	.who_is_it_for-section h3 {
		margin: 0 0 17px;
	}

	.locations-section:before {
		background-position: left -196px bottom -26px;
	}

	.locations-section h2 {
		line-height: 1.19;
	}

	.locations-section .map-block {
		padding: 0 100px 0 0;
	}

	.locations-section .map-block img {
		width: 400px;
	}

	.locations-section .city-list li {
		padding: 0 0 32px;
	}

	.locations-section .city-list li:before {
		width: 18px;
		height: 18px;
		border-radius: 18px;
	}

	.locations-section .city-list .line:before {
		width: 33px;
		top: 28px;
		left: 10px;
	}

	.locations-section .city-list .line:after {
		left: 38px;
	}

	.locations-section .city-list .city-01 {
		top: 57.27%;
		left: 40.03%;
		padding-left: 70px;
	}

	.locations-section .city-list .city-02 {
		top: 71.51%;
		left: 40.03%;
		padding-left: 93px;
	}

	.locations-section .city-list .city-02 .line:after {
		width: 45px;
	}

	.locations-section .city-list .city-03 {
		top: 81.4%;
		left: 54.07%;
		padding-left: 60px;
	}

	.locations-section .city-list .city-03 .line:after {
		width: 13px;
	}

	.form-section {
		padding: 80px 0 72px;
	}

	.form-section h2 {
		font-size: 50px;
	}

	.form-section .post-holder {
		padding: 0 10px 0 0;
		max-width: 500px;
	}

	.form-section .sign_up-form {
		padding: 23px 0 0;
	}

	.form-section .form-group {
		max-width: 385px;
	}

	.form-section .name-input {
		padding-left: 55px;
		background-position: 15px center;
	}

	.form-section .email-input {
		padding-left: 55px;
		background-position: 15px center;
	}

	.form-section .custom-select {
		padding-left: 52px;
		background: url("../images/icoBadge.svg") 15px center/24px auto, url("../images/icoArrow.svg") right 16px center/16px auto;
		background-repeat: no-repeat;
		background-color: #fff;
	}
}

@media (min-width: 992px) {
	#header {
		padding: 70px 0;
	}

	#header .img-holder {
		margin: 0 0 -87px;
	}

	#header .img-holder img {
		right: -160px;
	}

	#header .post-holder {
		min-width: 378px;
		padding: 0 0 0 20px;
	}

	.logo {
		margin: 0 0 30px;
	}

	.logo {
		margin: 0 0 30px;
	}

	h1 {
		font-size: 30px;
		margin: 0 0 42px;
	}

	h2 {
		margin: 0 0 39px;
		font-size: 84px;
	}

	.how_it_works-section {
		padding: 91px 0 200px;
		margin: 0 0 -120px;
	}

	.how_it_works-section .heading-row {
		margin: 0 0 80px;
	}

	.how_it_works-section .item-row .col-12 {
		padding: 0 52px;
	}

	.who_is_it_for-section .item-row {
		padding: 0;
	}

	.who_is_it_for-section .item-row .col-12 {
		padding: 56px 44px 36px;
		margin: 0 8px 25px;
	}

	.who_is_it_for-section .item-row .ico {
		margin: 0 0 27px;
	}

	.locations-section {
		padding: 6px 0 118px;
	}

	.locations-section:after {
		display: block;
	}

	.locations-section .map-block img {
		width: 500px;
	}

	.locations-section .city-list .line:after {
		width: 64px;
	}

	.locations-section .city-list .city-01 {
		padding-left: 111px;
	}

	.locations-section .city-list .city-02 {
		padding-left: 134px;
	}

	.locations-section .city-list .city-02 .line:after {
		width: 87px;
	}

	.locations-section .city-list .city-03 {
		padding-left: 79px;
	}

	.locations-section .city-list .city-03 .line:after {
		width: 29px;
	}

	.form-section h2 {
		font-size: 56px;
		margin: 0 0 17px;
	}

	#footer {
		text-align: left;
		padding: 53px 0;
	}

	#footer .container {
		padding: 0 30px;
	}

	#footer .logo {
		margin: 0;
	}

	#footer .item-list {
		float: right;
		margin: 19px 0 0;
	}

	#footer .item-list li {
		float: left;
		margin: 0 0 0 23px;
	}
}

@media (min-width: 1200px) {
	#header {
		padding: 90px 0;
	}

	#header .img-holder {
		margin: 0 0 -107px;
	}

	#header .img-holder img {
		right: -200px;
	}

	#header .post-holder {
		min-width: 530px;
		padding: 0 0 22px 132px;
	}

	.logo {
		margin: 0 0 40px;
	}

	h1 {
		font-size: 34px;
		margin: 0 0 52px;
	}

	.locations-section .map-block img {
		width: auto;
		max-width: 100%;
	}
}

@media (min-width: 1300px) {
	.who_is_it_for-section .container {
		padding: 0;
	}

	.locations-section .post-holder {
		padding: 0 0 10px 93px;
		margin: 0;
	}

	.locations-section .map-block {
		padding: 0;
	}

	.locations-section .city-list .line:after {
		width: 134px;
	}

	.locations-section .city-list .city-01 {
		padding-left: 181px;
	}

	.locations-section .city-list .city-02 {
		padding-left: 204px;
	}

	.locations-section .city-list .city-02 .line:after {
		width: 157px;
	}

	.locations-section .city-list .city-03 {
		padding-left: 149px;
	}

	.locations-section .city-list .city-03 .line:after {
		width: 99px;
	}
}

@media (max-width: 1419px) {
	.how_it_works-section:before,
	.how_it_works-section:after {
		background-size: 30% auto;
	}
}

@media (max-width: 767px) {
	.locations-section .map-block .inner {
		max-width: 240px;
		width: 100%;
		position: relative;
		margin: 0 auto;
	}
}

@media (max-width: 575px) {
	#header .img-holder img {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.locations-section .map-block .inner {
		margin: 0;
	}
}

@media (max-width: 369px) {
	.locations-section .map-block {
		padding: 0;
	}
}

@media (max-width: 359px) {
	.locations-section .map-block {
		font-size: 18px;
	}

	.locations-section .city-list .line:before {
		top: 17px;
	}

	.locations-section .city-list .line:after {
		top: 11px;
		left: 25px;
	}
}


