{% extends "!layout.html" %}

{% block footer %}
    <footer id="footer">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-12 col-lg-4">
            <strong class="logo">
              <a href="/" id="footer-logo"><img src="/images/logo.svg" alt="CodeGrades"></a>
            </strong>
          </div>
          <div class="col-12 col-lg-8">
            <ul class="item-list">
              <!--li><a href="/terms.html" id="footer-terms">Terms & Conditions</a></li-->
              <li><a href="/privacy.html" id="footer-privacy">Privacy Policy</a></li>
              <li>CodeGrades © 2018</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}
